.table {
  width: 100%;
  margin-top: var(--gap);
  margin-bottom: calc(var(--gap) * 8);
  border-collapse: collapse;
  background-color: var(--alt-background-color);
}

.thead {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--background-color-darken);
}

.tr {
  text-align: center;
}

.tr:nth-child(even) {
  background-color: var(--background-color-lighten);
}


.th,
.td {
  padding: var(--gap-half);
}

.th {
  padding: var(--gap);
}

.td {
  border: var(--bordered) var(--border-color);
}

.name {
  position: relative;
  font-weight: var(--font-weight-700);
  background-color: var(--alt-background-color-darken);
}

.name::before {
  content: attr(data-added);
  padding: 2px 4px;
  border-top-left-radius: var(--border-radius);
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--main-color);
  font-size: var(--font-size-small);
  transform: scale(.80);
  transform-origin: 100% 100%;
}

.empty {
  text-align: center;
  padding: var(--gap);
  font-weight: var(--font-weight-700);
  text-transform: uppercase;
  font-size: var(--font-size-lg);
}

/* .pointer {
  cursor: pointer;
} */

/* .pointer:hover {
  color: var(--main-color);
} */
