.table {
  width: 100%;
  margin-top: var(--gap);
  margin-bottom: var(--gap);

  background-color: var(--alt-background-color);
  border-radius: var(--border-radius);
  border-collapse: collapse;
  overflow: hidden;
}

.thead {
  background-color: var(--alt-background-color-darken);
  border: var(--bordered) var(--alt-background-color-darken);
}

.tbody {
  overflow: hidden;
}

.tr {
  text-align: center;
}

.tr:nth-child(even) {
  background-color: var(--background-color-lighten);
}

.th,
.td {
  padding: var(--gap);
}

.td:not(:last-child),
.th:not(:last-child) {
  border-right: var(--bordered) var(--border-color);
}

.tr:not(:last-child) .td:first-child {
  border-top: var(--bordered) var(--border-color);
  border-bottom: var(--bordered) var(--border-color);
}

.name {
  position: relative;
  font-weight: var(--font-weight-700);
  background-color: var(--alt-background-color-darken);
  border: var(--bordered) var(--alt-background-color-darken);
  cursor: pointer;

}

.name::before {
  content: attr(data-added);
  position: absolute;
  right: 1px;
  bottom: 1px;
  padding: 2px 4px;

  font-size: var(--font-size-small);
  background-color: var(--main-color);

  transform: scale(.80);
  transform-origin: 100% 100%;
  border-top-left-radius: var(--border-radius);
}

.empty {
  padding: var(--gap);

  font-weight: var(--font-weight-700);
  font-size: var(--font-size-lg);
  text-align: center;
  text-transform: uppercase;
}
